<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton>
          Click Me
          <template v-slot:tail>
            Tail
          </template>
        </FancyButton>
      </v-col>
    </v-row>
  </v-container>
</template>
