<script setup lang="ts">
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-img
          src="https://scontent.fbkk4-4.fna.fbcdn.net/v/t39.30808-6/292865885_1169236603652233_8094975233662926833_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5cd70e&_nc_eui2=AeEZU6cqJk4WOsOyDVA9Ivp9FKFs4UCAYkcUoWzhQIBiRzjOaIls-pbcuTOSyrQn5vClBmtt0V2x-hxNB_NcSXmf&_nc_ohc=c4DoyrrQlO8AX-p35iq&_nc_zt=23&_nc_ht=scontent.fbkk4-4.fna&oh=00_AfBox_nxvHHEVJdJIx_VDfJtrYiXf2bBzuRD-7RwohXaaA&oe=646F3C40  "
          alt="Portfolio Image"
          height="400"
        ></v-img>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <h2>My Portfolio </h2>
        <p>ชื่อ : นายภัทรพล   จันทร์สง่า</p>
        <p>ชื่อเล่น : นิว</p>
        <p>ว/ด/ป : 22 มิถุนายน 2547</p>
          <p>อายุ : 18 ปี</p>
            <p>หมู่เลือด : B</p>
              <p>แผนการเรียน : วิทย์-คณิต</p>
                <p>สัญชาติ : ไทย</p>
                  <p>ศาสนา : พุทธ</p>
                    <p>เบอร์โทร : 0887679156</p>
                      <p>facebook : ภัทรพล จันทร์สง่า</p>
                        <p>Line : newkapeeeeee</p>
                          <p>คติประจำใจ : ตัวฉันที่ดีกว่าวันนี้คือตัวฉันในวันพรุ่งนี้</p>
                          
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <h3>Educational</h3>
        <v-table>
    <thead>
      <tr>
        <th class="text-left">
          สถานศึกกษา
        </th>
        <th class="text-left">
          ปีการศึกษา
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>โรงเรียนจุฑาทิพย์</th>
        <th>ระดับอนุบาล1-ประถมศึกาษปีที่ 6</th>
      </tr>
      <tr>
        <th>โรงเรียนกาญจนาภิเษกวิทยาลัย</th>
        <th>ระดับมัธยมศึกษาปีที่ 1</th>
      </tr>
      <tr>
        <th>โรงเรียนพนมสารคาม"พนมอดุลวิทยา"</th>
        <th>ระดับมัธยมศึกษาปีที่ 2-6</th>
      </tr>
      <tr>
        <th>มหาวิทยาลัยบูรพา</th>
        <th>ระดับนิสิตนักศึกษาปีที่ 1-ปัจจุบัน</th>
      </tr>

    </tbody>
  </v-table>
      </v-col>
    </v-row>

    
  </v-container>
</template>
