<template>
  <v-app>
    <v-app-bar :elevation="2">
      <v-row justify="end" align="center" class="fill-height">
        <v-btn
          :prepend-icon="theme === 'light' ? 'mdiWeatherSunny' : 'mdiWeatherNight'"
          @click="toggleTheme"
          class="ml-auto"
        >
          Toggle Theme
        </v-btn>
      </v-row>
    </v-app-bar>
    <v-navigation-drawer
        expand-on-hover
        rail
      >
        <v-list>
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            title="Sandra Adams"
            subtitle="sandra_a88@gmailcom"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-folder" title="My Files" value="myfiles" to="/my-files-view"></v-list-item>
          <v-list-item prepend-icon="mdi-account-multiple" title="My Profile" value="shared" to="/share-with-me-view"></v-list-item>
          <v-list-item prepend-icon="mdi-star" title="Starred" value="starred" to="/starred-view"></v-list-item>
        </v-list>
      </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>


<script>
import { useTheme } from 'vuetify'
import { ref } from 'vue'

export default {
  setup() {
    const theme = useTheme()

    return {
      theme,
      toggleTheme: () =>
        (theme.global.name.value = theme.global.current.value.dark
          ? 'light'
          : 'dark'),
    }
  },
}
</script>

<style>
.fill-height {
  height: 100%;
}
</style>
